# System files
# ------------

Icon
.DS_Store

# Program files
#--------------
/kirby/*
composer.json
.htaccess
index.php

# Temporary files
# ---------------


/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
.editorconfig
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

#/site/cache/*
#!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------
#/site/sessions
#/site/sessions/*
#!/site/sessions/index.html

# License
# ---------------

/site/config/.license
site/snippets/analytics.php
