:root {
    --spl-cyan:#00bef2;
    --spl-dark-blue:#004d71;
    --spl-tan:#ffc46c;
    --spl-black:#2e2926;
    --spl-gray:#65666a;
    --spl-light-gray:#fafafa;
}
body {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    background: var(--spl-black);
    font-family: 'Open Sans', 'Helvetica','Arial', sans-serif;
}
html,body {
    height: 100%;
}
i{
    position:relative;
    top:3px;
    padding-right:3px;
}
.flex-box{
    height: calc(100%-5rem);
}
.flex-box, nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}
nav {
    gap: 1rem;
    padding: 0;
    padding-right: 1rem;
}
.flex-box {
    flex-wrap: nowrap;
    background: var(--spl-light-gray);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
    min-width:30%;
    max-width: 70%;
}

.flex-full-width {
    display: block;
    width: 100%;
}
.flex-item {
    flex: 2 1 calc(50% - 2rem);
}
.flex-button {
    flex: 2 0 fit-content;
    min-width: 100px
}

h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--spl-black)
}
.logo img {
    padding-bottom:1em;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.flex-box nav a {
    display: block;
    width:100%;
    color: var(--spl-light-gray);
    border-radius: .5rem;
    background: var(--spl-cyan);
    padding: 1.5rem;
    font-size: 1.5em;
    text-align: center;
}
.flex-box a {
    text-decoration:none;
}
.flex-box a:hover {
    text-decoration: none;
}
.flex-box nav a:hover {
    background: var(--spl-dark-blue);
}
.main-carousel{
   width: 425px;
   height: 746px;
   z-index: 1000;
   overflow: hidden;
}
.carousel-cell {
    width: 100%;
    height: 100%;
    background-size: cover;
}
@media screen and (max-width: 1500px) {
    .flex-box {
        max-width: 100%;
    }
}
@media screen and (max-width: 850px) {
    body{
        background: var(--spl-light-gray);
    }
    .flex-box {
        flex-wrap: wrap;
        min-width:500px;
        justify-content: center;
        max-width: 100%;
        height:100%;
        box-shadow: none;
    }
    .main-carousel {
        margin-top: 1rem;

    }
    nav {
        padding-right: 0;
    }
}
