body {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    background: #f5f5f5;
    font-family: 'Open Sans', 'Helvetica','Arial', sans-serif;
}

html,body {
    height: 100%;
}
ul {list-style: none;}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
    padding: 30px;
    width: 710px;
}

.flex-full-width {
    display: block;
    width: 100%;
}

.flex-item {
    flex: 1 1 calc(50% - 2rem);
    margin: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.logo img {
    width: 320px;
    padding-bottom:1em;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.flex-box a li {
    display: block;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
    background: #00bef2;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}
.flex-box a {
    text-decoration:none;
}
.flex-box a:hover {
    text-decoration: none;
}

.flex-box a div:hover {
    background: #47a3d1;
}