html, body{
    height:100%;
    background-color: #00bef2;
}
body{
    display: flex;
    align-content: stretch;
    justify-content: stretch;
}
h1{
    color: #fafafa;
    font-size: 5em;
    font-weight: bold;
}
    h2{
    font-size: calc(1.7rem + 1.5vw);
}
    h1, h2{
    text-align: center;
    margin-bottom: 1.5rem;
}
.sbgwrapper{
    flex:2 1 50%;
}
.snowglobe{
    background-image: url("/../../../assets/img/snowglobe_0.png");
    background-repeat: no-repeat;
    height:950px;
    background-size:750px;
    background-position: center;
}
.sg25{
    background-image: url("/../../../assets/img/snowglobe_25.png");
}
.sg50{
    background-image: url("/../../../assets/img/snowglobe_50.png");
}
.sg75{
    background-image: url("/../../../assets/img/snowglobe_75.png");
}
.sg100{
    background-image: url("/../../../assets/img/snowglobe_100.png");
}
.goal{
    font-size: 5em;
    font-weight: bold;
    position:relative;
    bottom: -322px;
}
.total{
    font-size:10em;
    font-weight: bold;
    position:relative;
    top: 165px;

}
.text-main{
    flex:2 3 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:row;
    background-color: #004d71;
    margin:1rem;
    border-radius: 25px;

}
.text-main h1{
    flex:3 1 100%;
}
.text-main p {
    flex:1 2 60%;
    padding: 2rem;
    font-size: 3em;
    color: #fafafa;
    align-items: flex-start;
}
.text-main figure{
    margin:1rem;
    flex: 1 1 30%
}
.text-main img{
    width: 300px;
}
.snowmask{
    position:relative;
    overflow:visible;
}
@media screen and (max-width:500px){
    .snowglobe{
        height:450px;
        background-size:375px;
    }
    .text-main{
        margin:.75rem;
    }
    .text-main h1{
        font-size: 2em;
        margin-bottom: 0px;
    }
    .goal{
        font-size:2.5em;
        bottom:-135px;
    }
    .total{
        font-size:5em;
        top:95px
    }
    .text-main > p:nth-child(2){
        display:none;
    }
    .text-main p{
        font-size:1.5em;
        padding:.75rem;
        margin:0px;
    }
    .text-main figure{
        display:none;
    }
}
@media screen and (max-width: 1100px) {
    body{
        flex-direction: column;
    }
    .text-main{
        flex:2 1 100%;
    }
    .sbgwrapper{
        flex:2 2 50%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .snow{
        height: 18px;
        border-radius: 9px;
        width: 18px;
        position: absolute;
        top: -20px;
        background-color: #ffffff;
        z-index: 5;
    }

    .snow1{
        animation: snow1 5s linear 0s infinite;
    }
    .snow2{
        animation: snow2 6s linear 1s infinite;
    }
    .snow3{
        animation: snow3 7s linear 2s infinite;
    }
    .snow4{
        animation: snow4 8s linear 3s infinite;
    }
    .snow5{
        animation: snow5 9s linear 4s infinite;
    }
    .snow6{
        animation: snow6 10s linear 5s infinite;
    }
    @keyframes snow1
    {
        0% { top:0%;left:50%; }
        100% { top:100%;left:65%; }
    }
    @keyframes snow2
    {
        0% { top:0%;left:30%; }
        100% { top:100%;left:25%; }
    }
    @keyframes snow3
    {
        0% { top:0%;left:70%; }
        100% { top:100%;left:60%; }
    }
    @keyframes snow4
    {
        0% { top:0%;left:65%; }
        100% { top:100%;left:50%; }
    }
    @keyframes snow5
    {
        0% { top:0%;left:5%; }
        100% { top:100%;left:25%; }
    }
    @keyframes snow6
    {
        0% { top:0%;left:95%; }
        100% { top:100%;left:70%; }
    }
}